<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Design Patterns">
            <directory suffix="Test.php">Behavioral/*/php/Tests</directory>
            <directory suffix="Test.php">Creational/*/php/Tests</directory>
            <directory suffix="Test.php">Structural/*/php/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>